body{
    margin: 0%;
    font-family: 'Poppins', sans-serif; /*  font style from online or offlin*/
}
h1{
    font-size: 50px;
}
.neamul{
    color: orangered;
}
.half-width{
    width: 40%;
    float:left;/* divided the screen into two part*/
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%; 
}
.top-banner{
    background-repeat: no-repeat; /*  background picture full set in display 100%*/
    background-image:url("portfolio\ pic/top-banner.png") ;
}
section{
    height: 500px; 
    padding-bottom: 150px;
}
.link-button{
    text-decoration:none ; /*  underline remove*/
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 700;

}
p{
    color: dimgrey;
}
.second-part{
    float: left;
    width: 40%; 
    margin-left: 2%;
    padding-left: 5%;
}
.dream-area{
    background-repeat: no-repeat; /*  background picture full set in display 100%*/
    background-image:url("portfolio\ pic/dream-bg.png") ;
    background-position: right;
}
.single-exprience{
    box-shadow: 10px 10px 40px gray; /*  box making with shadow 10(height) 10(width) 40(shado speed)*/
    border-radius: 5px;
    height: 70%;
    background-color: whitesmoke;
}
.exprience{
    background-image: url("portfolio\ pic/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(223, 47, 3),rgb(0, 49, 211)) ;
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(31, 170, 159),rgba(138, 21, 0, 0.486)) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}
